{% extends 'layout.twig' %}

{% block body %}
<div class="container">
  <div class="row" style="margin-top: 50px;">
    <div class="col-12">
      <h2>Job Details</h2>
    </div>
    <div class="col-12">
      <h3>Info</h3>
      <table class="table table-hover" style="color:white">
        <tr>
          <th>Status</th>
          <td> <img src="https://img.shields.io/badge/job-{{status}}-{{status_color}}.svg"/> </td>
        </tr>
        <tr>
          <th>Time</th>
          <td>{{time}}</td>
        </tr>
        <tr>
          <th>Name</th>
          <td>{{parameters.outdir}}</td>
        </tr>
        {% if user %}
        <tr>
          <th>Creator</th>
          <td>
            <a href="https://orcid.org/{{user.orcid}}"><img class="inline-orcid" src="/img/orcid.png"></a>
            &nbsp;
            {{user.name}}
          </td>
        </tr>
        {% endif %}
        <tr>
          <th>Marker Search String</th>
          <td>{{parameters['marker-search-string']}}</td>
        </tr>
        <tr>
          <th>Taxonomic Range</th>
          <td>{{parameters['taxonomic-range']}}</td>
        </tr>
        <tr>
          <th>Taxa File</th>
          <td>
            {% if taxaFile.name is defined %}
            <!-- Button trigger modal -->
            <button type="button" class="btn-small btn-primary" data-toggle="modal" data-target="#fileContentModal">
              {{taxaFile.name}}
            </button>

            <!-- Modal -->
            <div class="modal fade" id="fileContentModal" tabindex="-1" role="dialog" aria-labelledby="fileContentModalTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="fileContentModalTitle">{{taxaFile.name}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    {{taxaFile.data}}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            {% else %}
              none
            {% endif %}
          </td>
        </tr>
        <tr>
          <th>#seqs</th>
          <td>{{num_seqs}}</td>
        </tr>
        <tr>
          <th>#taxa</th>
          <td>{{num_taxa}}</td>
        </tr>
        <tr>
          <th>doi</th>
          <td>{{zenodo_info.zenodo_doi}}
          {% if zenodo_info.zenodo_badge_link is defined %}
           <br> <a href="{{zenodo_info.zenodo_record_link}}"><img src="{{zenodo_info.zenodo_badge_link}}"/></a> </td>
          {% endif %}
        </tr>
      </table>
    </div>
    <div class="col-12">
      <h3>Log</h3>
      <code>
        <textarea style="width: 100%; height: 600px">
          {{ stdout }}
        </textarea>
      </code>
    </div>
  </div>
</div>
{% endblock %}
